/* init */
@import './init/reset.css';
@import './init/variables.css';
@import './init/layout.css';
@import './init/base.css';
/* 3rd party */
@import './3rd-party/font-awesome.min.css';
/* components */
@import './components/footer.css';
@import './components/header.css';
@import './components/button.css';

/* CUSTOM STILIUS SEKCIJOMS */
/* header */
/* hero */
/* row with counters */
/* countdown clock */
/* what you'll learn carousel */
/* course syllabus */

.syllabus-meta-row {
    margin-top: 6px;
    padding-bottom: 30px;
    border-bottom: 1px solid #eee;
}
.syllabus-meta-row .meta-text {
    text-align: left;
    font-size: 18px;
    color: var(--color-black);
    margin-right: 40px;
    font-weight: 500;
}
/* course benefits */
/* pricing */
/* student reviews */
/* registration form */
/* course instructors */
/* footer */
