/* MAIN COLORS */

:root {
    --color-primary: #ffc107;
    --color-secondary: #20c997;
    --color-light: #f8f9fa;
    --color-dark: #343a40;
    --color-black: #292929;
}

/* TITLES */

.align-left{
    text-align: left;
}

.title {
    display:inline-block;
    width: 100%;
    font-size: 40px;
    line-height: 1.3;
    color: var(--color-black);
    text-transform: uppercase;
    font-weight: 600;

}