/* FONTS */
@font-face {
    font-family: 'Ubuntu';
    src: url(../../fonts/ubuntu/Ubuntu-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Ubuntu';
    src: url(../../fonts/ubuntu/Ubuntu-Bold.ttf) format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Ubuntu';
    src: url(../../fonts/ubuntu/Ubuntu-Medium.ttf) format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Ubuntu';
    src: url(../../fonts/ubuntu/Ubuntu-Light.ttf) format('truetype');
    font-weight: lighter;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Hind';
    src: url(../../fonts/hind/Hind-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Hind';
    src: url(../../fonts/hind/Hind-Bold.ttf) format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Hind';
    src: url(../../fonts/hind/Hind-SemiBold.ttf) format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Hind';
    src: url(../../fonts/hind/Hind-Light.ttf) format('truetype');
    font-weight: lighter;
    font-style: normal;
    font-display: swap;
}

/* BACKGROUND COLOR */
.bg-color {
    background-color: var(--color-light);
}
    
/* TEXT STYLE */
.center {
    text-align: center;
}

.align-left{
    text-align: left;
}

::selection {
    text-shadow: none;
    color: #fff;
    background-color: #5f52dc;
}

.title1 {
    display:inline-block;
    width: 100%;
    font-size: 60px;
    line-height: 1.2;
    color: var(--color-black);
    text-transform: capitalize;
    font-weight: 700;
}

.title2 {
    display:inline-block;
    width: 100%;
    font-size: 40px;
    line-height: 1.4;
    color: var(--color-black);
    text-transform: capitalize;
    font-weight: 700;
}

.title3 {
    display:inline-block;
    width: 100%;
    font-size: 24px;
    line-height: 1;
    color: var(--color-black);
    text-transform: capitalize;
    font-weight: 700;
}

.paragraph {
    display:inline-block;
    width: 100%;
    font-size: 20px;
    line-height: 1.8;
    color: var(--color-grey);
    font-weight: normal;
    font-family: 'Ubuntu', sans-serif;
    margin-bottom: 40px;
}

.author {
    display:inline-block;
    width: 100%;
    font-size: 20px;
    line-height: 1.8;
    color: var(--color-grey);
    font-weight: 500;
    font-family: 'Ubuntu', sans-serif;

}

.author > span {
    width: 100%;
    font-size: 20px;
    line-height: 1.8;
    color: var(--color-secondary);
    font-weight: bold;
    font-family: 'Ubuntu', sans-serif;
    margin-left: 10px;

}

.bottom-text-link {
    text-align: left;
    font-size: 20px;
    line-height: 20 px;
    color: var(--color-black);
    font-weight: 300;
    padding: 15px 0px;
    width: 100%;
}

.bottom-text-link > a {
    color: var(--color-black);
    text-decoration: none;
    border-bottom: 1px solid var(--color-black);
}

/* IMG STYLE */
