/* MAIN COLORS */
:root {
    --color-primary: #ffc107;
    --color-secondary: #5dd9c1;
    --color-secondary-very-light: #d5fef2;
    --color-light: #f6f8f5;
    --color-grey: #707070;
    --color-black: #292929;
}