/* STYLE FOR BIGGER SCREENS */

.container.header {
    background-color: white;
    display: inline-block;    
    padding: 15px 0;
    vertical-align: middle;
}

.container.header > .row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.header img {
    vertical-align: middle;
}

.header-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .header-menu .nav-links a {
    color: var(--color-grey);
    text-decoration: none;
    font-size: 20px;
    line-height: 1.8;
    font-weight: normal;
    font-family: 'Ubuntu', sans-serif;
}

.header .nav-links a:hover {
    transition: 0.3s linear;
    color: var(--color-secondary);
    overflow: visible;
}

.nav-links {
    margin-left: auto;
    margin-right: 26px;
}

.header-menu .nav-links a {
    padding: 0 24px;
} 

@media (max-width: 1198px) {
   .header-menu .nav-links a {
    padding: 0 10px;
    } 
}

.header .header-menu .nav-links > a.home {
    color: var(--color-secondary);
}

.header-menu .nav-buttons > a.login-btn {
    text-decoration: none;
    color: var(--color-primary);
    font-size: 18px;
    font-weight: 500;
    margin-right: 36px;
    text-transform: capitalize;
    border-bottom: 1px solid var(--color-primary);
    vertical-align: -11px;
}

.header .btn.btn-inverted {
    background-color: var(--color-secondary);
}

.header .btn.btn-inverted:hover {
    background-color: var(--color-primary);
}

/* STYLE FOR SMALLER SCREENS */
.header-menu {
    position: relative;
}
@media (max-width: 990px) {
    .header-menu .nav-links, .header-menu .nav-buttons {
        display: none;
    }
    #menu-button {
        position: absolute;
        right: 0;
        height: 25px;
        outline: 0;
        cursor: pointer;
    }
    #menu-button > div {
        width: 25px;
        height: 2px;
        background-color: var(--color-grey);
        margin: 5px;
    }
}
